body {
  /* font-family: 'Times New Roman', Times, serif; */
}
.icon {
  padding: 10px;
  text-decoration: none;
  color: white;
}
a {
  font-size: 20px;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
hr.hr {
  border: 1px solid #333;
  width: 20rem;
}
.navbar {
  width: 100%;
  display: inline-flex;
}
.navbar-brand {
  width: 5%;
  font-size: 20px;
}
.navbar-nav {
  width: 70%;
  justify-content: center;
}
.navbar-icon {
  width: 20%;
  text-align: center;
}
#carouselExampleControls {
}
h3 {
  text-align: center;
  /* padding: 2rem; */
  font-family: "Times New Roman", Times, serif;
}
row {
  margin: 0 auto;
}

#table {
  width: 240px;
  height: 354px;
  margin: 0 auto;
}
.content-picture {
  width: 210px;
  height: 260px;
  border: 5px solid #333;
  margin: 0 auto;
  position: relative;
}
.content-picture:hover img {
  opacity: 0.8;
  transition: 0.5s;
}
.content-picture:hover .middle {
  opacity: 1;
}
.content-picture img {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
#WishList {
  color: #ffffff;
  font-size: 30px;
}
#CartList {
  color: #ffffff;
  font-size: 30px;

}
.content-information {
  width: 210px;
  height: 94px;
  margin: 0 auto;
  display: flex;
}
.content-information1 {
  width: 70%;
}
#name {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
#author {
  text-decoration: none;
  color: #333;
  font-size: 13px;
}
.content-information2 {
  width: 30%;
}
.text {
  color: #333;
  position: absolute;
  font-size: 1rem;
  padding: 10rem;
}
img {
  width: 100%;
}
#circle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  max-width: 40px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background: #d5a770;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  background-color: #333;
  color: #919294;
}
#rowf {
  padding-top: 2rem;
  line-height: 3rem;
}
