.titleInfor {
  width: 100%;
  display: inline-flex;
}
.payment {
  width: 100%;
  display: inline-flex;
}
.items {
    width: 100%;
    height: 200px;
    border: 1px solid;
}
#it {
  width: 100px;
  height: 150px;
}
#it .pictureItems img {
  width: 100%;
  height: 100%;
}
