@font-face {
  font-family: "SVN-Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: url("SVNGilroy\ Light.woff") format("woff");
}

@font-face {
  font-family: "SVN-Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: url("SVNGilroy Bold.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
}
:root {
  --mainColor1: #303030;
  --mainColor2: #e5a823;
  --mainColorXam: #a1a1a1;
}

.bar {
  background-color: #f1f1f1;
  width: 1440px;
  height: 40px;
  /* width: 100%; */
  margin: auto;
  display: flex;
  padding: 14px 0 14px 0px;
  border: none;
}
.bar p {
  font-size: 10px;
  font-weight: 300;
  float: left;
  text-align: left;
  width: 50%;
  margin: 0 0 0 166px;
  font-family: "SVN-Gilroy Light";
}
.bar p a {
  font-size: 10px;
  color: var(--mainColor1);
}

.bar p i {
  color: var(--mainColor2);
  font-size: 10px;
  margin: 0px 5px;
}

.bar #p1 {
  width: 50%;
  font-size: 10px;
  font-weight: 300;
  color: var(--mainColorXam);
  text-align: right;
  margin: 0 140px 0 0;
}
.bar #p1 a {
  margin: 0 25px 0 0;
  color: var(--mainColorXam);
}
.bar #p1 i {
  font-size: 10px;
  color: var(--mainColorXam);
}
/* nav  */
.nav {
  background-color: #ffffff;
  width: 1440px;
  height: 90px;
  margin: auto;
  border: none;
  padding: 33px 160px;
  display: flex;
}
.nav .logo {
  margin: 0 147px 0 0;
}
.nav .logo a {
  display: flex;
}
.nav .logo h4 {
  font-family: "SVN-Gilroy Bold";
  font-size: 21px;
}
.nav p {
  font-family: "SVN-Gilroy Bold";
  color: #000000;
  font-size: 12px;
  margin: 10px 28px;
}
#press {
  display: none;
}
.nav button {
  font-family: "SVN-Gilroy Bold";
  color: #ffffff;
  font-size: 12px;
  background-color: #e5a823;
  margin: 0px 18px;
  padding: 13px 34px;
  border-radius: 20px;
  border: none;
  outline: none;
}
.nav .circle {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  /* line-height: 29px; */
  max-width: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #b9b9b9;
  color: var(--mainColorXam);
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* cover */
.cover {
  background-color: var(--mainColor2);
  width: 1440px;
  height: 550px;
  margin: auto;
  padding: 70px 160px;
}
.cover-child {
  width: 100%;
  height: 100%;
  display: flex;
}
.cover .cover-child .text {
  width: 27.333333%;
  padding: 100px 10px 0 0;
}
.cover .cover-child .text h1 {
  font-size: 39px;
  color: #ffffff;
  margin: 25px 0;
  font-weight: 500;
  font-family: "SVN-Gilroy Bold";
}
.cover .cover-child .text p {
  font-weight: 500;
  font-family: "SVN-Gilroy Light";
  font-size: 13px;
  color: #ffffff;
}
.cover .cover-child .img {
  width: 72.6666667%;
  background-color: var(--mainColor2);
}
.cover .cover-child img {
  width: 100%;
  height: 100%;
  float: right;
}
/* parent  */
.parent {
  width: 1440px;
  height: 565px;
  margin: auto;
  background-color: #ffffff;
  padding: 80px 160px;
}
.parent .text {
  background-color: #ffffff;
  padding: 0 256px;
}
.parent .text h1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 23px;
  font-weight: 500;
  text-align: center;
}
/* hr {
  width: 5rem;
  height: 5px;
  background-color: var(--mainColor2);
  margin: auto;
  display: none;
} */
.parent .content {
  width: 100%;
  padding: 80px 0;
  display: flex;
}
.parent .content img {
  padding: 0 85px;
  /* background-color: royalblue; */
}
.parent .content .item {
  width: 25%;
  margin: 0px 21px 0px 0px;
  /* background-color: red; */
}
.parent .content .item p {
  font-family: "SVN-Gilroy Light";
  font-size: 13px;
  color: var(--mainColorXam);
  /* text-align: center; */
  text-align: center;
  margin: 0px 35px;
}
/* main  */
.main {
  margin: auto;
  width: 1440px;
  height: auto;
  padding: 75px 160px;
  background-color: #f1f1f1;
}
.main .justify {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
}
.main .justify .text {
  padding: 0 375px;
  width: 100%;
  padding: 0 0 80px 0;
}
.main .justify .text h1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 23px;
  text-align: center;
}
.main .justify .text p {
  text-align: center;
  color: var(--mainColor1);
  font-family: "SVN-Gilroy Light";
  font-size: 13px;
  padding: 0px 378px;
}
/* content  */
.main .justify .content {
  /* padding: 80px 0 0 0; */
  width: 100%;
  display: flex;
}
.main .justify .content .img {
  width: 50%;
}
.main .justify .content img {
  width: 100%;
}
.main .justify .content .txt {
  width: 49.999999%;
  display: inline-table;
  margin: 0px 0px 0px 34px;
}
.main .justify .content .txt .row {
  width: 100%;
  display: flex;
}
.main .justify .content .txt .row hr {
  background-color: var(--mainColorXam);
  width: 0;
  height: 200px;
  margin: auto;
}
.main .justify .content .txt .left h4 {
  font-family: "SVN-Gilroy Bold";
  font-size: 39px;
  color: var(--mainColor2);
}
.main .justify .content .txt .right {
  padding: 8px 180px 0 23px;
}
.main .justify .content .txt .right b {
  font-family: "SVN-Gilroy Bold";
  font-size: 14px;
  color: #000000;
}
.main .justify .content .txt .right p {
  font-family: "SVN-Gilroy Light";
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}
.main .justify .content .txt .right i {
  color: var(--mainColor2);
  margin: 10px;
}
/* row2-- */
.main .justify .content #it2 .txt {
  width: 49.999999%;
  display: inline-table;
  margin: 0px 34px 0px 0px;
}

.main .justify .parent-bot .text-bot {
  width: 100%;
  padding: 80px 317px;
}
.main .justify .parent-bot .text-bot h1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 23px;
  text-align: center;
}

.main .justify .parent-bot .content {
  width: 100%;
  padding: 80px 0;
  display: flex;
}
.main .justify .parent-bot .content .item {
  width: 25%;
  margin: 0px 21px 0px 0px;
}
.main .justify .parent-bot .content .item img{
  width: 100%;
  height: 50%;
}

.main .justify .parent-bot .content .item h6 {
  font-family: "SVN-Gilroy Bold";
  font-size: 13px;
  color: var(--mainColor2);
  /* text-align: center; */
  text-align: center;
  margin: 30px 0;
}
.main .justify .parent-bot .content .item p {
  font-family: "SVN-Gilroy Light";
  font-size: 13px;
  color: var(--mainColorXam);
  /* text-align: center; */
  text-align: center;
  margin: 0px 57px;
}
/* support */
.main .justify .support {
  width: 100%;
  height: auto;
  padding: 83px 0 0 0;
  background-color: #f1f1f1;
}
.main .justify .support h1 {
  font-family: "SVN-Gilroy Bold";
  font-size: 23px;
  color: #000000;
}
.main .justify .support .content {
  width: 100%;
  display: flex;
  padding: 60px 0;
}
.main .justify .support .content .tab-left {
  width: 75%;
  /* background-color: #ffffff; */
  font-family: "SVN-Gilroy Light";
}
.main .justify .support .content .child-1 {
  width: 100%;
  background-color: #ffffff;
  padding: 0px 24px;
  margin: 15px 0;
  border-radius: 10px;
  font-size: 13px;
  font-family: "SVN-Gilroy Light";
  border: 1px solid var(--mainColorXam);
}
.main .justify .support .content .child-1 .collapsible {
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  padding: 20px 0 20px 0;
  background-color: #ffffff;
  font-family: "SVN-Gilroy Bold";
  color: var(--mainColor1);
  outline: none;
  display: flex;
}
.main .justify .support .content .child-1 .collapsible p{
  margin: 10px;
}
.main .justify .support .content .child-1 .collapsible .circle {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  max-width: 35px;
  width: 35px;
  height: 35px;
  border: 1px solid #b9b9b9;
  color: var(--mainColorXam);
  background-color: #ffffff;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .justify .support .content .child-1 .collapsible:hover {
  width: 100%;
  cursor: pointer;
  border: none;
  text-align: left;
  padding: 20px 0 20px 0;
  background-color: #ffffff;
  font-family: "SVN-Gilroy Bold";
  color: var(--mainColor2);
}
.main .justify .support .content .child-1 .hidden {
  overflow: hidden;
  display: none;
  padding: 10px 0;
}

.main .justify .support .content .tab-right {
  width: 24.9999999%;
  background-color: #ffffff;
  margin: 15px 30px;
  border-radius: 10px;
  padding: 9px;
  border: 1px solid var(--mainColorXam);
  display: block;
}
.main .justify .support .content .tab-right button {
  width: 100%;
  background-color: var(--mainColor2);
  padding: 20px 38px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-family: "SVN-Gilroy Bold";
  color: #ffffff;
  outline: none;
}
.main .justify .support .content .tab-right hr {
  width: 100%;
  height: 0;
  background-color: var(--mainColorXam);
}
.main .justify .support .content .tab-right .txt {
  width: 100%;
  margin: 22px 0px;
}
.main .justify .support .content .tab-right .txt p {
  color: var(--mainColorXam);
  font-size: 13px;
  font-family: "SVN-Gilroy Light";
}
.main .justify .support .content .tab-right .txt h6 {
  color: #000000;
  font-size: 13px;
  font-family: "SVN-Gilroy Bold";
}

/* ads  */
.ads {
  margin: auto;
  width: 1440px;
  height: auto;
  padding: 87px 160px;
  background-color: var(--mainColor2);
  display: flex;
}
.ads .text {
  width: 50%;
}
.ads .text h1 {
  font-family: "SVN-Gilroy Bold";
  color: #000000;
  font-size: 23px;
}
.ads .text p {
  font-family: "SVN-Gilroy Light";
  color: #000000;
  font-size: 13px;
  padding: 30px 214px 0 0;
}

.ads .btn {
  width: 49.99999%;
  padding: 20px 0;
}
.ads .btn button {
  float: right;
  padding: 20px 76px;
  font-family: "SVN-Gilroy Bold";
  border-radius: 35px;
  background-color: #000000;
  color: #ffffff;
  font-size: 13px;
  border: none;
  outline: none;
}
/* footer  */
footer {
  margin: auto;
  width: 1440px;
  height: auto;
  padding: 102px 160px;
  background-color: var(--mainColor1);
  display: flex;
}
footer .left {
  width: 33.3333333%;
  height: auto;
}
footer h4 {
  font-family: "SVN-Gilroy Bold";
  font-size: 20px;
  color: #ffffff;
  padding: 0 0 46px 0;
}
footer p {
  padding: 0 140px 0 0;
  font-family: "SVN-Gilroy Light";
  font-size: 12px;
  color: var(--mainColorXam);
  line-height: 22px;
}
footer .left .logo {
  display: flex;
  height: auto;
}
footer .mid {
  width: 33.3333333%;
  height: auto;
}

footer .mid i {
  color: var(--mainColor2);
  padding: 0 5px 0 0;
}

footer .right {
  width: 33.3333333%;
  height: auto;
}
footer .right .list {
  width: 100%;
  display: flex;
}

footer li {
  color: var(--mainColor2);
}
footer li a {
  font-size: 12px;
  color: var(--mainColorXam);
  font-family: "SVN-Gilroy Light";
}
footer .right .list .l1 {
  width: 49.99999999%;
}
footer .right .list .l2 {
  width: 49.66666666%;
}
.end {
  margin: auto;
  width: 1440px;
  background-color: #000000;
  text-align: center;
  padding: 38px 0;
}
.end p {
  font-size: 12px;
  color: var(--mainColorXam);
  font-family: "SVN-Gilroy Light";
}
.end p1 {
  font-size: 12px;
  color: var(--mainColor2);
  font-family: "SVN-Gilroy Light";
}
